.before-footer{
	background: #858585;
	.widget-content{
		.widget-title, h3, label, .screen-reader-text{
			margin-left: 0;
			text-align: left;
			font-family: 'OpenSans-Semibold';
			font-size: 18px;
		}
		#searchform #s{
			max-width: 330px;
			width: 100%;
			margin-left: -100px;
			border-radius: 18px;
			padding: 8px 8px;
		}
		ul{
			list-style-type: none;
			text-align: left;
			margin: 0;
			padding: 0;
			margin-left: 5px;
			li{
			margin: 0;
			padding: 0;
			margin-left: 5px;
			list-style-position: inside;
				list-style-type: none;
				text-align: left;
				a, a:visited{
						font-family: 'OpenSans-Light';
						font-size: 14px;
						color: #fcfcfc;
				}
			}
		}
	}

	.contacts_before_footer{
		position: relative;
		clear: both;
		color: #fcfcfc;
		// margin-top: 15px;
		// margin-left: 10px;
		.detail{
			width: 100px;
			height: auto;
			font-family: 'OpenSans-Light';
			font-size: 14px;
			text-transform: uppercase;
			float: left;
			margin-bottom: 20px;
		}
		.info{
			width: auto;
			height: auto;
			max-width: 160px;
			font-family: 'OpenSans-SemiBold';
			font-size: 14px;
			float: left;
			margin-bottom: 20px;
			text-align: left;
		}
	}
}

.footer{
	height: auto;
	border-bottom: 3px solid #5E5E5E;
	.footertext{
		color: $dark-gray;
		font-family: 'RobotoSlab-Light';
		font-size: 15px;
		padding: 5px 0px;
		margin-bottom: 0px;
		font-weight: bold;
		span{
			display: block;
			font-weight: normal;
			font-size: 10px;
		}
	}
}
.sidebar.footer{
	.widget-content{
		ul{
			padding: 0;
		}
	}
}

.logo{
	background-color: #ccc;
	height: 40px;
	width: 40px; 
	border-radius: 100%;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}

.responsive-links{
	background-color: #ccc;
	text-align: center;
	font-size: 20px;
	border-radius: 100%;
	font-weight: bold;
	padding: 10px 15px;
}

.links{
	margin: 25px;
}

.footer-logo-container{
	margin-top: 10px;
}

/***********
 footer Media Queries
***********/
@media screen and ( max-width: 700px ){
	.footer{
		text-align: center;
	}
}

@media screen and (max-width:768px){
	.footer{
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 979px){
	.footer{
		text-align: center;
	}
}