.navbar{
	z-index: 10;
	background-color: $white;
	height: 70px;
	border: 0px;
	border-radius: 0px;
	border-bottom: 3px solid $medium-gray;
		.site-title{
			float: left;
			padding: 15px;
			.navbar-brand{
				color: $dark-gray;
				font-family: 'RobotoSlab-Bold';
				font-size: 18px;
				padding: 10px;
				width: auto;
				height: auto;
				float: left;
				position: relative;
			}
			.site-description{
				position: relative;
				color: $medium-gray;
				font-family: 'OpenSans-Light';
				font-size: 12px;
				text-transform: uppercase;
				float: left;
				clear: both;
			}
		}
	.nav{
		margin-top: 0px;
		background: #fff;
		li{
			position: relative;
			min-width: 130px;
			// height: 75px;
			padding: 7px 0px;
			text-align: center;

			&.active{
				background-color: $medium-gray;
				a{
					color: $white;
					background-color: $medium-gray;
				}
			}

			&:hover, &.active:hover{
				background-color: $dark-gray;
				a{
					color: $white;
					background-color: $dark-gray;
				}
			}

			a{
				color: $medium-gray;
				font-family: 'OpenSans-Regular';
				font-size: 14px;
				text-transform: uppercase;
			}
		}
	}
}

#navigation .navbar-toggle {
	margin-top: 12px;
	border: 0px;
	background: transparent;
	.icon-bar {
		background-color: #000;
		height: 5px;
		width: 35px;
		border-radius: 5px;
	}	
}

.navbar-nav{
	margin-bottom: 0px;
}

/***********
 Navigation Media Queries
***********/

@media screen and ( max-width: 700px ){
	#navbar-collapse-1{
		border-bottom: 1px solid #5E5E5E;
	}
	.navbar{
		.nav-bar-wrapper{
		padding: 0px;
		}
	}
}

@media screen and (max-width:768px){
	#navbar-collapse-1{
		border-bottom: 1px solid #5E5E5E;
	}
	.navbar{
		.nav-bar-wrapper{
		padding: 0px;
		}
	}
}
